body {
    background-color: #a4e7f055;
}

#carouselExampleIndicators img {
    height: 600px;
}

.main-text {
    position: absolute;
    top: 50px;
    width: 100%;
    color: #fff;
}
.intro-text {
    padding-top: 60px;
    font-weight: 700;
    font-size: 6vw;
    text-shadow: 2px 2px 2px #000000;
}
.intro-text-subtitle {
    font-weight: 400;
    font-size: 4vw;
    text-shadow: 2px 2px 2px #000000;
}

.btn-lg {
    background-color: #00000023;
    border-color: #00695c;
}

.btn-primary {
    border-radius: 100px;
}

.about-us-title {
    font-size: 4rem;
    opacity: 0.6;
}
.about-us-text {
    color: #fff;
    font-weight: medium;
    font-size: 1rem;
    margin-bottom: 20px;
}
.line-break {
    width: 80%;
    border: 0;
    height: 10px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0)
    );
}
#about-us {
    background-image: linear-gradient(
        90deg,
        #67b26f 0%,
        rgba(76, 162, 205, 0.61) 100%
    );
}

/* Media Queries */
/* Full Screen expanded nav for viewports smaller than 992px (lg) */

.navbar-nav a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    font-weight: 700;
    font-size: 1.2rem;
    text-shadow: 0.5px 0.5px 0.5px #2222226b;
}
.navbar-toggler {
    color: #fff;
}

.nav-colored {
    background-image: linear-gradient(
        90deg,
        #67b26f 0%,
        rgba(76, 162, 205, 0.61) 100%
    );
    border: none;
    margin-top: -1px;
}

.nav-transparent {
    background-color: transparent;
    transition: linear;
}
@media (min-width: 992px) {
    .dropdown-menu .dropdown-toggle:after {
        border-top: 0.3em solid transparent;
        border-right: 0;
        border-bottom: 0.3em solid transparent;
        border-left: 0.3em solid;
    }

    .dropdown-menu .dropdown-menu {
        margin-left: 0;
        margin-right: 0;
    }

    .dropdown-menu li {
        position: relative;
    }
    .nav-item .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }
    .nav-item .submenu-left {
        right: 100%;
        left: auto;
    }

    .dropdown-menu > li:hover {
        background-color: #f1f1f1;
    }
    .dropdown-menu > li:hover > .submenu {
        display: block;
    }
}
